/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 10px;*/
   background-image: url("../img/autumn-leaves.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/*
 * Typography
 */

.main{
   padding-left: 150px;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #477484;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    background-color: #daeddd;

}


/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.menu-title{
    text-align: center;
}

.app-title{
    padding-left: 10px;
    font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
    font-size: large;
    background-color: #c5ecff;
    -moz-text-decoration-style: wavy;
}
/*****fin sidebar*****/

.loader {
    position: fixed;
    z-index: 9999;
    opacity: 0.95;
    background: url('../img/loader.gif') 50% 50% no-repeat #fff;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: progress;
}

/*le corps de l'appli*/
.corps{
    background-image: url("../img/bg.jpg");
}

/*le footer*/
.copyright
{
    border-radius: 5px 5px 5px 5px; ;
    height: auto;
    text-align: center;
    background-color: #fffcde;
    font-style: italic;
    font-family: "Fira Mono";
    margin-top: 2px;

}

.footer{
    background-color: #1d2124;
    color: white;
}


/*la navbar*/
a, a:hover/*, a:focus*/ {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;

}

a:hover, a:focus{
    background-color: #c5ecff;
    border-radius: 5px 5px 5px 5px ;
}
.navbar {
    box-shadow: 3px 3px 3px 3px #fafff4;
    padding: 10px 10px;
    background: #c5ecff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
    height: 50px;
}

li{
    list-style-type: none;
}

.formulaire{
    width: 500px;
    padding-bottom: 50px;
    margin-left: 180px;
}

#buttons-form{
    margin-top: 50px;
}
#xaf{
    background: rgb(143, 241, 232);
    border-radius: 5px 5px 5px 5px;
}

.list-dossiers{
    margin: 10px;
}

.notif{
    float: right;
}

