/*.loader {
    position: fixed;
    z-index: 9999;
    opacity: 0.95;
    background: url('../images/loader.gif') 50% 50% no-repeat #fff;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: progress;
}*/

.content{
    padding-left: 30px;
}

.btn{
    border-radius: 10px 10px 10px 10px ;

}

.card-header{
   /* background-color: #23e7e2;*/
    background: url("/images/bgcard.png");
}

.card-form{
   margin-left: 100px;
}

.btnProcess{
    margin-left: 150px;
}

td{
    text-align: center;
}

.smallCard{
    padding-left: 50px;
}

.login_error{
 font-family: Ubuntu;
    text-align: center;
    color: red;
    font-style: italic;
}

.footer
{
    border-radius: 5px 5px 5px 5px; ;
    height: auto;
    text-align: center;
    color: lightgrey;
    background-color: #390539;
    font-style: italic;
    font-family: "Fira Mono";
    margin-top: 2px;

}