/*.loader {
    position: fixed;
    z-index: 9999;
    opacity: 0.95;
    background: url('../images/loader.gif') 50% 50% no-repeat #fff;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: progress;
}*/

.content{
    padding-left: 30px;
}

.btn{
    border-radius: 10px 10px 10px 10px ;

}

.card-header{
   /* background-color: #23e7e2;*/
    background: url("/images/bgcard.png");
}

.formulaire{
   margin-left: 100px;
}

.btnProcess{
    margin-left: 150px;
}

td{
    text-align: center;
}
