
.content{
    padding-left: 30px;
}

.btn{
    border-radius: 10px 10px 10px 10px ;

}

.card-header{
   /* background-color: #23e7e2;*/
    background: url("/images/bgcard.png");
}

.card-form{
   margin-left: 100px;
}

.btnProcess{
    margin-left: 150px;
}

td{
    text-align: center;
}

.smallCard{
    padding-left: 50px;
}

.login_error{
 font-family: Ubuntu;
    text-align: center;
    color: red;
    font-style: italic;
}

.footer
{
    height: auto;
    text-align: center;
    color: lightgrey;
    background-color: rgba(7, 3, 7, 0.84);
    font-style: italic;
    font-family: "Fira Mono";
    margin-top: 2px;
    margin-bottom: 0px;

}